<div class='d-flex justify-content-between align-items-start'>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Preço: {{product.price}}</h6>
    <p class="card-text">Estoque: {{product.stock}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
  <h3>
    <a href='/products'><i class='bi bi-arrow-left-square'></i></a>
  </h3>
</div>
